*{
	box-sizing: border-box;
}
body{
	font-family: Arial;
	filter: blur(-100px);
	background-image: url("edu_background.jpeg");

	background-attachment: fixed;
	/*backface-visibility: 3%;*/
	}
	.Education{
		/*border: 1px solid black;*/
	/*display: flex;*/
	padding: 20px;
	flex-wrap: initial;
	margin: 10px;
	  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}	

.edu1,.edu2{
	padding: 20px;
	font-size: 25px;

	font-style: italic;
	/*border: 1px solid black;*/
	/*border-radius: 70%;*/
}
.Skills{
	padding: 20px;
	flex-wrap: initial;  background: rgb(0, 0, 0); /* Fallback color */
  background: rgba(0, 0, 0, 0.5); /* Black background with 0.5 opacity */
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
	margin: 10px;
}